@media (min-width :999px) {

    #burgerbtn,
    .closebtn,
    .mobile-item {
        display: none;
    }

    .desktopbtn {
        display: block;
        text-align: center;
        padding-top: 4%;
    }
    .desktopbtn:hover{
        background-color: rgb(88, 88, 88);
    }
    .dropdown {
        position: absolute;
        display: none;
        margin-top: 21px;
        text-align: left;
        background-color: var(--main-bg);
    }
    .overlay-content a:hover {
        background-color: rgb(88, 88, 88);
    }

    #signUpbtn {
        order: 3;
    }

    #nav {
        order: 2;
    }

    #ul-nav {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding-top: 20px;
        width: 50%;
    }

    #search-box {
        order: 6;
    }
    #logo{
        margin-left: 15%;
    }
}