@media (min-width :767px) {

    #burgerbtn,
    .closebtn,
    .mobile-item {
        display: none;
    }

    .desktopbtn {
        display: block;
        text-align: center;
        padding-top: 4%;
    }

    .desktopbtn:hover {
        background-color: rgb(88, 88, 88);
    }

    .dropdown {
        position: absolute;
        display: none;
        margin-top: 21px;
        text-align: left;
        background-color: var(--main-bg);
    }

    .dropdown li:hover {
        background-color: grey;
    }

    header {
        background-color: var(--main-bg);
    }

    #signUpbtn {
        order: 3;
    }

    #nav {
        order: 2;
    }

    #ul-nav {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding-top: 20px;
        width: 50%;
    }

    #login {
        grid-template-columns: 1fr 1fr;
        order: 3;
    }
    #loginbtn{
        display: block;
    }
    #search-box {
        order: 6;
    }

    #logo {
        margin-left: 15%;
    }
    #loginForm{
        height: 100vh;
        width: 100vw;
    }
}