.header {
    text-align: center;
    transition: .2s;
}
.header:hover {
    background-color: rgb(84, 84, 129);
}

#home img {
    width: 2%;
}

.drop-header {
    position: relative;
    display: inline-block;
}

.button {
    background-color: rgb(144, 115, 172);
    border: none;

}

.button:hover {
    text-decoration: underline;
    background-color: rgb(104, 81, 124);

}

.drop-button:hover {
    text-decoration: underline;
}

.drop-links {
    display: none;
    background-color: rgb(84, 84, 129);
    width: max-content;
    position: absolute;
    z-index: 1;
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

.drop-links a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    transition: .2s;
    width: 350px;
}

.drop-header:hover .drop-links {
    display: block;
}

.drop-links a:hover {
    text-decoration: underline;
    background-color: rgb(56, 56, 87);

}