.drop-header {
    position: relative;
    display: inline-block;
}

.drop-button {
    background-color: rgb(144, 115, 172);
    border: none;
}

.drop-button:hover {
    text-decoration: underline;
}

.drop-links {
    display: none;
    background-color: rgb(84, 84, 129);
    width: max-content;
    position: absolute;
    z-index: 1;
}

.drop-links a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
}

.drop-header:hover .drop-links {
    display: block;

}

.drop-links a:hover {
    text-decoration: underline;
}