.dropdown-header {
    position: relative;
    display: inline-block;
}
.drop-button{
    background-color: rgb(136, 88, 155);
    border: none;
}
.drop-button:hover{
    text-decoration:underline;
}
.dropdown-links {
    display: none;
    position: absolute;
    background-color: grey;
    width: max-content;
    
}

.dropdown-links a {
    text-decoration: none;
    display: block;
    color: gold;
    transition: transform .2s;
}

.dropdown-header:hover .dropdown-links {
    display: block;
    background-color: rgb(95, 54, 122);
}
.dropdown-links :hover{
    background-color: black;
    transform: scale(1.1);
}