@import url(./vars.css);
@import url(./reset.css);
@import url(./mobile.css);
@import url(./desktop.css);
@import url(./tablet.css);

#hero {
  height: 80vh;
  background-image: url(../assets/images/hero.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}

#space {
  height: 50vh;
}

#main {
  text-align: center;

}

#main article {
  padding-inline: 12px;
  background-color: rgba(73, 93, 110, 0.356);
}

.secondary-button {
  display: none;
  height: 36px;
  background-image: url(../assets/icons/arrow-down.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 95%;
}

.secondaryh2 {
  padding-block: 16px;
}

#callToAction {
  text-decoration: underline;
  margin-top: 16px;

}

#callToAction:hover {
  background-color: grey;
}

#characters a img,
#movies a img,
#books a img,
#houses a img {
  border: 2px solid white;
  margin-top: 10px;
}

@media (max-width: 425px) {
  #houses {
    grid-template-columns: 1fr 1fr;
    display: none;
  }

  #characters {
    grid-template-columns: 1fr 1fr;
    display: none;
    height: 0%;
  }

  #characters img {
    scale: 90%;
  }

  #movies {
    grid-template-columns: 1fr 1fr;
    display: none;
  }

  #movies img {
    scale: 90%;
  }

  #books {
    grid-template-columns: 1fr 1fr;
    display: none;
  }

  #books img {
    scale: 90%;
  }

  #last-book {
    grid-column: 1/3;
  }

  .secondary-button {
    display: block;
    border: 1px solid white;
    width: 100%;
  }

  #hero {
    background-size: cover;
    background-position: 50% 5%;
  }

  .secondaryh2 {
    display: none;
  }
  
}

/* tablet layout */
@media (min-width: 425px) {
  #hero {
    background-size: cover;
    background-position: 50% 5%;
  }

  #characters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }


  #characters a {
    width: 70%;
    margin-left: 15%;
  }

  #movies {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #movies a {
    scale: 90%;
  }

  #books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }

  #books a {
    width: 50%;
    margin-left: 25%;
  }

  #last-book {
    grid-column: 2/3;
  }

  #houses {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #houses a {
    width: 50%;
    margin-left: 25%;
  }

  


}