@import url(./vars.css);
@import url(./reset.css);
@import url(./mobile.css);
@import url(./desktop.css);
@import url(./tablet.css);

.grid {
    display: grid;
}

* {
    font-family: var(--primary);
    font-size: calc(1em + 0.03vw);
}

body {
    color: var(--primary-ft);
    background-color: var(--main-bg);
    text-align: center;
}

#loginbtn {
    display: none;
}

footer {
    background-color: var(--headerFooter-bg);
}


button {
    background-color: transparent;
    border: none;
    color: var(--primary-ft);
    height: 60px;
}

#mobile-header-bg {
    height: 70px;
    width: 100%;
    background-color: var(--headerFooter-bg);
}


header {
    grid-template-columns: 1fr 2fr 1fr;
    top: 0;
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 1;
    position: fixed;
    background-image: linear-gradient(var(--headerFooter-bg), rgba(0, 0, 0, 0.048));
}

#burgerbtn {
    background-image: url(../assets/icons/burger.png);
    width: 50px;
    size: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 10px;
}

#space-li {
    display: none;
}

#logo {
    grid-template-columns: 1fr 1fr;
    height: 100%;
    margin-inline: auto;
    width: 120px;
}

#logo img {
    width: 80px;
    height: 80px;
}

#logo b {
    font-family: var(--logo);
    margin-block: auto;
}

.desktopbtn {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding-bottom: 50px;
    gap: 15px;
    font-size: 18px;
}

.profile-img {
    padding-left: 4px;
    padding-right: 4px;
}

#commentsSection {
    margin-top: 5vh;
    background-color: var(--hover-clr);
    border: 1px solid var(--primary-ft);
}

#commentsSection button {
    background-color: var(--main-bg);
    border-radius: 50%;
}

#output {
    border: 1px solid var(--main-bg);
    grid-template-columns: 1fr 3fr;
}

#names h2,
#comments h2,
#names p,
#comments p {
    border: 1px solid var(--primary-ft);
}

#submitbtn {
    background-color: rgb(0, 68, 255);
    border-radius: 5px;
    cursor: pointer;
}

footer {
    padding-top: 32px;
    background-color: var(--headerFooter-bg);
    text-align: center;
}

#signUpTo h3 {
    margin-bottom: 16px;
}

#about {
    grid-template-columns: 1fr 1fr;
    width: max-content;
    margin-inline: auto;
    text-decoration: underline;
    margin-bottom: 32px;
}

#about a {
    margin-inline: 32px;
}

#social {
    grid-template-columns: repeat(3, 1fr);
    margin-inline: auto;
    margin-bottom: 32px;
    width: 300px;
}

#social img {
    width: 80px;
}

#rights {
    padding-bottom: 32px;
}

@media (max-width :767px) {
    #search-list {
        display: none;
        position: fixed;
        background-color: var(--headerFooter-bg);
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    #closeSearch {
        display: none;
        position: fixed;
        top: 24%;
        right: 30%;
        font-size: 40px;
        z-index: 1;
        color: black;
    }


    #search {
        width: 40%;
    }

    #loginForm {
        display: none;
    }

    #login{
     width: max-content;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        overflow-x: hidden;
        transition: 0.3s;
        background-image: url(../assets/icons/logo.svg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-color: var(--headerFooter-bg);
        font-size: 0.93em;
    }

    .secondary-overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        overflow-x: hidden;
        background-image: url(../assets/icons/logo.svg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-color: var(--headerFooter-bg);
        font-size: 0.93em;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
    }

    .overlay-content li {
        border-top: 1px solid var(--primary-ft);
        border-bottom: 1px solid var(--primary-ft);
    }

    .overlay .closebtn {
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 60px;
        z-index: 1;
    }

    .overlay li {
        padding-block: 10px;
    }

    button {
        height: 100%;
        width: 100%;
    }

    #search-li {
        border-top: none;
    }


}