@import url(./vars.css);
@import url(./reset.css);
@import url(./mobile.css);
@import url(./desktop.css);
@import url(./tablet.css);

.grid {
    display: grid;
}

* {
    font-family: var(--primary);
    font-size: calc(1em + 0.03vw);
}

body {
    color: var(--primary-ft);
    background-color: var(--main-bg);
    text-align: center;
}

#loginbtn {
    display: none;
}

footer {
    background-color: var(--headerFooter-bg)
}


button {
    background-color: transparent;
    border: none;
    color: var(--primary-ft);
    height: 60px;
}

#mobile-header-bg {
    height: 60px;
    width: 100%;
    background-color: var(--headerFooter-bg);
}


header {
    grid-template-columns: 1fr 2fr 1fr;
    top: 0;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1;
    position: fixed;
    background-image: linear-gradient(var(--headerFooter-bg), rgba(0, 0, 0, 0.048));
}

#burgerbtn {
    background-image: url(../assets/icons/burger.png);
    width: 50px;
    size: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

#logo {
    background-image: url(../assets/icons/logo.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 10px -10px;
    width: 100px;
    height: 60px;

}

.desktopbtn {
    display: none;
}

.footer-img {
    padding-top: 8px;
    max-width: 360px;
    margin-inline: auto;
    grid-template-columns: repeat(4, 1fr);
}
.footer-img img{
    padding-inline: 4px;
    width: 60px;
}

.copyrights {
    opacity: 30%;
    font-size: 10px;
}

.footer {
    border-top-style: solid;
    border-top-color: #60a8e7;
}

.newsletter-signup button {
    background: #007bff;
    cursor: pointer;
    border-radius: 5px;
}
@media (max-width :767px) {
    #search-list {
        display: none;
        position: fixed;
        background-color: var(--headerFooter-bg);
        width: 100%;
        height: 100%;
    }

    #closeSearch {
        display: none;
        position: fixed;
        top: 23%;
        right: 30%;
        font-size: 40px;
        z-index: 1;
        color: black;
    }

    #logo {
        margin-left: 20%;
    }

    #search {
        width: 40%;
    }

    #loginForm {
        display: none;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        overflow-x: hidden;
        transition: 0.3s;
        background-image: url(../assets/icons/logo.svg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-color: var(--headerFooter-bg);
        font-size: 0.93em;
    }

    .secondary-overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        overflow-x: hidden;
        background-image: url(../assets/icons/logo.svg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-color: var(--headerFooter-bg);
        font-size: 0.93em;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
    }

    .overlay .closebtn {
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 60px;
        z-index: 1;
    }

    .overlay li {
        padding-bottom: 25px;
    }

    button {
        height: 100%;
    }

}