.grid {
    display: grid;
    text-align: center;
}

body {
    color: white;
    background-color: var(--main-bg);
}

footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
    border: none;
    background-color: transparent;
    color: white;
}

header {
    grid-template-columns: 1fr 2fr 1fr;
    position: sticky;
    height: 12vh;
    top: 0%;
    z-index: 1;
    background-color: var(--header-bg);
}

#burger-menu {
    width: 80px;
}

#logo {
    background-image: url(../assets/icons/logo.svg);
    background-repeat: no-repeat;
    background-size: calc(80vw / 25%);
    background-position-y: center;
    background-position-x: center;
}

@media (max-width :999px) {
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: var(--overlay-bg);
        overflow-x: hidden;
        transition: 0.3s;
    }

    .secondary-overlay {
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        background-color: var(--overlay-bg);
        overflow-x: hidden;
        transition: 0.3s;
    }

    .overlay-content {
        position: relative;
        top: 0%;
        width: 100%;
        text-align: center;
    }

    .secondary-overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        background-color: var(--overlay-bg);
    }

    .overlay .closebtn {
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 60px;
        z-index: 1;
    }

    .overlay li {
        padding-bottom: 15px;
    }
}