@import url(./reset.css);
@import url(./mobile.css);
@import url(./desktop.css);
@import url(./tablet.css);
@import url(./vars.css);

.container {
    text-align: center;
    padding-inline: 8px;
}

.center {
    text-align: center;
}

#table-style,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

th,
td {
    padding: 10px;
}

img {
    padding-top: 5vh;
    display: block;
    margin: 20px auto;
    max-width: 100%;
    padding-inline: 8px;
}

.section-header {
    background-color: #0e2f4e;
    font-weight: bold;
}

blockquote {
    margin: 20px 0;
    padding: 20px;
    background-color: #0e2f4e;
    border-left: 5px solid #ccc;
    font-style: italic;
    text-align: center;
}
#table-style{
    margin-top: 40px;
}
@media(min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
    .second-img{
        padding-top: 10vh;
    }
}

@media(max-width:768px) {
    #article {
        order: 3;
    }
    .second-img {
        display: none;
    }
}