@import url(./vars.css);
@import url(./reset.css);
@import url(./mobile.css);
@import url(./desktop.css);
@import url(./tablet.css);

form {
    padding-top: 5vh;
}

h1 {
    padding-top: 5vh;
}

.border {
    border: 1px solid var(--primary-ft);
    margin-top: 24px;
}
.blank{
    display: none;
}
#back {
    width: 50px;
    height: 50px;
    background-image: url(../assets/icons/back.png);
    background-size: 100%;
    position: absolute;
    top: 30px;
    left: 30px;
}

#signUpWith {
    padding-top: 16px;
    text-align: center;
}
@media(max-width: 425px){
    #signUpWith {
        grid-template-columns: 1fr 1fr;
    }
}

#signUpWith img {
    width: 120px;
}

@media(min-width: 425px) {
    #signUpWith{
        grid-template-columns: 1fr 0fr 0fr 1fr;
    }

    #appleId {
        width: 120px;
    }

    #googleAcc {
        width: 120px;
    }
    .blank{
        display: block;
    }
}