@import url(./vars.css);
@import url(./reset.css);
@import url(./mobile.css);
@import url(./desktop.css);
@import url(./tablet.css);
@media (min-width: 425px) and (max-width: 767px) {
    #logo {
        margin-left: calc(25% + 6vw);
    }
    .social-icons{
        margin: 0;
        height: 30px;
        width: 30px;
    }
    .footer-img
    {
      height: 30px;
      width: 30px;
      display: inline-block;
      margin: 5px;
    
    }
    
    
    .social {
      grid-template-columns: repeat(2, 1fr);
      padding-top: 24px;
      padding-left: 25%;
    }
    .copyrights
    {
    opacity: 30%;
    font-size: 10px;
    }
    .footer
    {
    border-top-style:solid;
    border-top-color:#60a8e7;
    }
    .newsletter-signup button {
      background: #007bff;
      cursor: pointer;
      border-radius: 5px;
    }
    button[type="submit"] {
        width: 75px;
        height: 25px;
        text-align: center; 
      }
    
}